/*预定义的变量*/
$color-primary: #0189DF !important; /* 文字颜色 */
$color-secondary: #0FB970 !important;
$color-button-primary: #30BE8C !important;
$color-button-secondary: #10BA73 !important;

$color-nav-deep: #085C9A !important;
$color-nav-light: #1A6FB0 !important;
$color-nav-hover: #2989C3 !important;

$color-black-primary: #565656 !important; /* 深色字体的颜色 */
$color-black-secondary: #585B62 !important;
$color-black-deep: #888888 !important;
$color-black-light: #A8A8A8 !important;
$color-black-lighter: #E0E0E0 !important;

$color-gray-primary: #ECF6FF !important;
$color-gray-secondary: #EEEEEE !important; /* 背景边框 */
$color-gray-deeper: #CCC !important;
$color-gray-deep: #E4E4E4 !important;
$color-gray-light: #F6F6F6 !important; /* 背景颜色 */
$color-gray-lighter: #B3D4E5 !important;

$color-white: #fff !important;

$color-button-primary-disabled: rgba(0, 0, 0, 0.25)!important;
$color-button-primary-bg-disabled: #f7f7f7!important;
$color-button-primary-border-disabled: #d9d9d9!important;


